<div class="tips-first container">
  <div class="tips__items">
    <div class="row">
      <div class="col-sm-5 tips-first__wrapper">
        <tips-item title="Goede foto’s maken" youtube-id="95B99inuohs"></tips-item>
        <div class="tips-first__descr">Een goede foto verkoopt de auto bijna vanzelf. Maar hoe maak je simpel en snel goede foto’s van je auto? Een gerenommeerde autofotograaf deelt zijn beste tips.</div>
      </div>
      <div class="col-sm-5 tips-first__wrapper">
        <tips-item title="Pakkende advertentieteksten"  youtube-id="3mGmMYS2o78"></tips-item>
        <div class="tips-first__descr">Hoe breng je je auto zo goed mogelijk onder de aandacht bij 1 miljoen autokopers? Ontdek wat belangrijk is aan een goede advertentietekst.</div>
      </div>
    </div>
  </div>
</div>