.tips-first {

  &__wrapper {
    padding-bottom: 20px;
    min-height: 435px;
    margin-right: 50px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.75);
  }

  &__text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 1px;
    background-color: #fff;
    padding: 30px 20px;
  }

  &__items {
    background-color: #fff;
    margin-bottom: 1px;
    padding-bottom: 30px;
  }

  &__footer {
    background-color: rgb(227, 231, 242);
    text-align: center;
    padding: 22px 0;
  }
}

