<div class="tips-first">
  <div class="tips__items">
    <div class="row">
      <div class="col-sm-6">
        <tips-item title="Goede foto’s maken" youtube-id="3mGmMYS2o78"></tips-item>
        <tips-item-descr>Een goede foto verkoopt de auto bijna vanzelf. Maar hoe maak je simpel en snel goede foto’s van je auto? Een gerenommeerde autofotograaf deelt zijn beste tips.</tips-item-descr>
      </div>
      <div class="col-sm-6">
        <tips-item title="Pakkende advertentieteksten"  youtube-id="95B99inuohs"></tips-item>
        <tips-item-descr>Hoe breng je je auto zo goed mogelijk onder de aandacht bij 1 miljoen autokopers? Ontdek wat belangrijk is aan een goede advertentietekst.</tips-item-descr>
      </div>
    </div>
  </div>
</div>
