.tips-first {
  margin-top: 49px;

  &__wrapper {

    margin: 0 1% 0 4%;
    padding: 0 9px 20px;
    margin-bottom: 33px;
    min-height: 410px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 3px 13px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.25);
  }

  &__text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 1px;
    background-color: #fff;
    padding: 30px 20px;
  }

  &__items {
    background-color: #fff;
    margin-bottom: 1px;
    padding-bottom: 30px;
  }

  &__footer {
    background-color: rgb(227, 231, 242);
    text-align: center;
    padding: 22px 0;
  }

  &__descr {
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
  }
}

