.mp-panel{
  margin-bottom: 50px;

  &__heading{
    font-size: 41px;
    font-weight: bold;
    padding: 40px 0;
    line-height: 1.255;
    text-align: center;
    color: #21479c;
    background: #fff;
  }
  &__body{
    //background-color: #fff;
  }
}

.header-panel {
  .mp-panel__heading {
    padding: 0;
  }

  //.mp-panel__body {
  //  background: url(../assets/images/bg-header.jpg) no-repeat;
  //  background-size: cover;
  //  background-position: center;
  //  width: 100%;
  //  height: 507px;
  //}
}

.panel-bg {
  .mp-panel__heading,
  .mp-panel__body {
    background: #e8e8e8;
  }

  .mp-panel__heading {
    padding: 40px 0 0;
  }

  .tips-item__title {
    display: none;
  }
}

.panel-tips-first {
  .mp-panel {
    padding: 0px;
  }
}

.panel-news {
  .mp-panel {
    .mp-panel__heading {
      display: none;
    }
  }
}

.panel-sold-cars {
  .mp-panel__heading {
    padding: 40px 0 60px;
  }
}

.panel-find-more {
  .mp-panel__heading {
    font-size: 31px;
  }
}