panel:nth-child(2) {
  float: left;
}

.mp-panel{
  margin-bottom: 20px;
  &__heading{
    font-size: 25px;
    //font-weight: bold;
    padding: 11px 0;
    color: rgb(54, 51, 122);
    line-height: 1.255;
    text-align: center;
    background-color: rgb(227, 231, 242);
    margin-bottom: 1px;
  }
  &__body{
    //background-color: #fff;
  }
}

