<div class="footer">
  <div class="container">
    <div class="footer__links">
      <a href="#">Homepagina</a>
      <a href="#">Voorwaarden en Privacybeleid</a>
      <a href="#">Auto kopen of verkopen</a>
    </div>
    <div class="footer__policy">Marktplaats is niet aansprakelijk voor (gevolg)schade die voortkomt uit het gebruik van
      deze site, dan wel uit fouten of ontbrekende functionaliteiten op deze site. Copyright © 2015 eBay International
      AG. Alle rechten voorbehouden.
      <img src="http://statisch.marktplaats.com/html/gaervoor/images/ebay-logo.png" alt="" class="pull-right"/>
    </div>
  </div>
</div>
