<div class="footer">
  <div class="container">
    <div class="footer__policy">
      <p class="footer__text">
        Marktplaats is niet aansprakelijk voor (gevolg)schade die voortkomt uit het gebruik van
        deze site, dan wel uit fouten of ontbrekende functionaliteiten op deze site. Copyright © 2015 eBay International
        AG. Alle rechten voorbehouden.
      </p>
      <img src="http://statisch.marktplaats.com/html/gaervoor/images/ebay-logo.png" alt="" class="pull-right"/>
    </div>
  </div>
</div>
