<div class="sold-cars">
  <div class="sold-cars__items">
    <div class="row">
      <div class="col-sm-6">
        <sold-cars-item title="Tips van de verkopers" youtube-id="3mGmMYS2o78"></sold-cars-item>
        <sold-cars-item-descr>
          Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
        </sold-cars-item-descr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <sold-cars-item-descr>
          Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
        </sold-cars-item-descr>
        <sold-cars-item title="Tips van de verkopers" youtube-id="3mGmMYS2o78"></sold-cars-item>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <sold-cars-item title="Tips van de verkopers" youtube-id="3mGmMYS2o78"></sold-cars-item>
        <sold-cars-item-descr>
          Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
        </sold-cars-item-descr>
      </div>
    </div>
  </div>
</div>
