.sold-cars {

  &.cars-container {
    max-width: 1235px;
    margin: 0 auto;
    padding: 17px 20px 10px;
  }

  .col-sm-12 {
    margin-bottom: 42px;
  }

  .second-video {
    @media (max-width: 320px) {
      margin-top: 100px;
    }
  }

  &__wrapper2 {
    padding-left: 50px;
  }

  &__title {
    font-size: 25px;
    color: #21479c;
    margin-top: 25px;
    margin-bottom: 6px;
  }

  &__descr {
    font-size: 16px;
    margin-bottom: 18px;
    line-height: 21px;
  }

  &__names {
    font-size: 16px;
    font-weight: bold;
    color: #292929;
    overflow: hidden;

    div {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__pic {
    background: url(/assets/images/desc-share.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 263px;
    height: 56px;
    margin: 48px 111px 23px;

    @media (max-width: 990px) {
      margin: 48px 0px 23px;
    }

    @media (max-width: 320px) {
      background-size: 70%;
      width: 233px;
      margin: 10px 0px 10px -50px;
    }
  }

  &__share {
    font-size: 16px;
    float: left;
    margin-right: 5px;
  }

  &__share_wrapper {

    .col-sm-12 {
      padding-left: 48px;

      @media (max-width: 1100px) {
        padding-left: 0px;
      }
    }

    .icon-social {
      display: inline-block;
      width: 25px;
      height: 24px;
      font-size: 0rem;
      background-size: cover;
      float: left;
      margin-left: 10px;
      background-image: url("/assets/images/icon-social-share.png");

      &:first-child {
        margin-left: 0;
      }
      &.icon-social-facebook {
        background-position: 0;
      }
      &.icon-social-google {
        background-position: 25px;
      }
      &.icon-social-twitter {
        background-position: 59px;
      }
  }
  }
}