<div class="sold-cars">
  <div class="sold-cars__items">
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper1 col-sm-6">
          <sold-cars-item youtube-id="3mGmMYS2o78"></sold-cars-item>
        </div>
        <div class="sold-cars__wrapper2 col-sm-6">
          <div class="sold-cars__title">Tips van de verkopers</div>
          <div class="sold-cars__descr">
            Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Joris Groen</div>
            <div class="surname col-sm-8">Martijn van der Rest</div>
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Buyerminds</div>
            <div class="surname col-sm-8">Sales manager bij Vallei Auto Groep</div>
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <!-- facebook -->
                <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="">F</a>
                <!-- twitter -->
                <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" >T</a>
                <!-- google plus -->
                <a class="icon-social icon-social-google" data-type="googleplus" data-url=""  data-description="">G</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper1 col-sm-6">
          <div class="sold-cars__title">Tips van de verkopers</div>
          <div class="sold-cars__descr">
            Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Joris Groen</div>
            <div class="surname col-sm-8">Martijn van der Rest</div>
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Buyerminds</div>
            <div class="surname col-sm-8">Sales manager bij Vallei Auto Groep</div>
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <!-- facebook -->
                <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="">F</a>
                <!-- twitter -->
                <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" >T</a>
                <!-- google plus -->
                <a class="icon-social icon-social-google" data-type="googleplus" data-url=""  data-description="">G</a>
              </div>
            </div>
          </div>
        </div>
        <div class="sold-cars__wrapper2 col-sm-6">
          <sold-cars-item youtube-id="3mGmMYS2o78"></sold-cars-item>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper1 col-sm-6">
          <sold-cars-item youtube-id="3mGmMYS2o78"></sold-cars-item>
        </div>
        <div class="sold-cars__wrapper2 col-sm-6">
          <div class="sold-cars__title">Tips van de verkopers</div>
          <div class="sold-cars__descr">
            Hoe lezen mensen advertenties op Marktplaats? Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs? Is het verstandig om alleen positieve punten te vernoemen? Hoe presenteert u zichzelf als een echte autoverkoper?
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Joris Groen</div>
            <div class="surname col-sm-8">Martijn van der Rest</div>
          </div>
          <div class="sold-cars__names">
            <div class="name col-sm-4">Buyerminds</div>
            <div class="surname col-sm-8">Sales manager bij Vallei Auto Groep</div>
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <!-- facebook -->
                <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="">F</a>
                <!-- twitter -->
                <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" >T</a>
                <!-- google plus -->
                <a class="icon-social icon-social-google" data-type="googleplus" data-url=""  data-description="">G</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
