<div class="sold-cars cars-container">
  <div class="sold-cars__items">
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper1 col-sm-6">
          <sold-cars-item youtube-id="wWGwNJPJ31k"></sold-cars-item>
        </div>
        <div class="sold-cars__wrapper2 col-sm-6">
          <div class="sold-cars__title">Hoe Peter zijn Volkswagen Transporter pick-up verkocht</div>
          <div class="sold-cars__descr">
            Wij hebben Peter geholpen met het verkopen van zijn Volkswagen Transporter Pick-up. Na 3 uur ontving hij al een serieus bod en binnen een week verkocht hij zijn Transporter. Ontdek hoe enkele kleine aanpassingen op de advertentie van Peter het verschil gemaakt hebben.
          </div>
          <div class="sold-cars__tw_descr hidden">
            Ontdek hoe Peter op Marktplaats na 3 uur een serieus bod ontving op zijn Volktwagen Pick-up.
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media left">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <span class="sold-cars__share_links">
                  <!-- facebook -->
                  <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="" target="_blank">F</a>
                  <!-- twitter -->
                  <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" target="_blank">T</a>
                  <!-- google plus -->
                  <a href="https://plus.google.com/share?url={http://www.geheimvandedealer.nl}" class="icon-social icon-social-google" data-id="social_vrk-auto-fb" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">G</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper2 col-sm-6">
          <div class="sold-cars__title">Hoe Rens zijn Citroën Acadiane in 3 dagen verkocht</div>
          <div class="sold-cars__descr">
            Wij hebben Rens geholpen met het verkopen van zijn unieke Citroën Acadiane oldtimer. Ontdek de kleine ingrepen die we gedaan hebben om zijn advertentie te verbeteren.
          </div>
          <div class="sold-cars__tw_descr hidden">
            Ontdek hoe Marktplaats Rens heeft geholpen met het verkopen van zijn unieke Citroën Acadiane oldtimer
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media right">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <span class="sold-cars__share_links">
                  <!-- facebook -->
                  <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="" target="_blank">F</a>
                  <!-- twitter -->
                  <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" target="_blank">T</a>
                  <!-- google plus -->
                  <a href="https://plus.google.com/share?url={http://www.geheimvandedealer.nl}" class="icon-social icon-social-google" data-id="social_vrk-auto-fb" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">G</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sold-cars__wrapper1 col-sm-6 second-video">
          <sold-cars-item youtube-id="gmwdyuRrQ7w"></sold-cars-item>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sold-cars__wrapper1 col-sm-6">
          <sold-cars-item youtube-id="hOqG6n8LAqA"></sold-cars-item>
        </div>
        <div class="sold-cars__wrapper2 col-sm-6 last-text-wrapper">
          <div class="sold-cars__title">Hoe Tijmen zijn Volkswagen Golf verkocht</div>
          <div class="sold-cars__descr">
            Wij hebben Tijmen geholpen met de verkoop van zijn Volkswagen Golf. Binnen een paar uur kreeg hij al een serieus bod en hij heeft zijn auto verkocht voor een goede prijs. Zie meer over de auto van Tijmen.
          </div>
          <div class="sold-cars__tw_descr hidden">
            Ontdek hoe Marktplaats Tijmen heeft geholpen met de verkoop van zijn Volkswagen Golf.
          </div>
          <div class="sold-cars__pic"></div>
          <div class="sold-cars__share_wrapper">
            <div class="social-media-wrapper name col-sm-12">
              <div class="social-media left">
                <span class="sold-cars__share">Deel de verkooptips met uw vrienden:</span>
                <span class="sold-cars__share_links">
                  <!-- facebook -->
                  <a class="icon-social icon-social-facebook" data-type="facebook" data-url="" data-title="" data-description="" target="_blank">F</a>
                  <!-- twitter -->
                  <a class="icon-social icon-social-twitter" data-type="twitter" data-url="" data-via="" data-description="" target="_blank">T</a>
                  <!-- google plus -->
                  <a href="https://plus.google.com/share?url={http://www.geheimvandedealer.nl}" class="icon-social icon-social-google" data-id="social_vrk-auto-fb" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">G</a>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
