<div class="main-header">
  <div class="searchbox">
    <div class="row searchbox-facts">
      <h1>Je auto verkopen? <span>Ontdek de waarde van je auto.</span></h1>>
      <p>Bereken eenvoudig de waarde van je auto en plaats vervolgens je auto advertentie binnen 2 minuten. Ontdekt hoe vergelijkbare auto's gemiddeld verkocht worden op Marktplaats.
        Je auto verkopen? Het begint op Marktplaats.</p>
    </div>
    <form class="searchbox-form" ng-submit="submitLicense(license)">
      <div class="searchbox-form__row">
        <div class="searchbox-form__license">
          <div class="searchbox-form__label">Kenteken</div>
          <license-plate ng-model="license" editable="true"></license-plate>
          <div class="searchbox-form__error" ng-show="hasErrors">Geen auto gevonden met het bovenstaande kenteken.</div>
        </div>

        <div class="searchbox-form__mileage">
          <div class="searchbox-form__label">Kilometers (optioneel)</div>
          <input type="text" class="mileage__input" placeholder="Bijv. 15000" ng-model="mileage" editable="true"/>
        </div>

        <div class="searchbox-form__button">
          <mp-button ng-click="submitLicense(license, mileage)">Bereken waarde</mp-button>
        </div>
      </div>

      <div class="searchbox-form__link">
        <div><a href="http://www.marktplaats.nl/c/auto-s/c91.html" class="searchbox-form__msg" target="_blank">Of plaats je auto direct op Marktplaats</a></div>
      </div>
    </form>
  </div>

  <sellingent
    result="result"
    average-price="averagePrice"
    fact="fact">
  </sellingent>

  <resultbox
    result="result"
    average-price="averagePrice"
    fact="fact">
  </resultbox>
</div>
