.searchbox {

  padding-top: 47px;

  h1,
  p, a {
    color: #FFFFFF;
    text-align: center;
  }

  p {
    min-width: 700px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
  }

  a {
    text-decoration: underline;
  }

  .searchbox-form__label {
    color: #FFFFFF;
    text-align: left;
  }

  input {
    height: 50px;
  }

  .searchbox-form__license,
  .searchbox-form__mileage,
  .searchbox-form__button {
    display: inline-block;
    margin-right: 27px;

    &:first-child {
      position: relative;
      top: 21px;
    }
  }
}

.searchbox-facts{
  height: 100%;

  &.container {
    margin: 0 auto;
  }
}
.searchbox-fact {
  height: 100%;
  margin-left: -15px;
  margin-right: -14px;
  padding: 15px;
  text-align: center;
  :first-child > &{
    margin-left: 0;
  }
  :last-child > &{
    margin-right: 0;
  }

  &__icon{
    width: 27px;
    height: 22px;
    position: relative;
    display: inline-block;
    background: url("/assets/images/icon-fact-teek.png") center no-repeat;
  }
  &__text{
    color: #FFF;
  }
}
.searchbox-form{
  margin-top: 1px;
  text-align: center;
  padding: 30px;
  &__label{
    padding-bottom: 5px;
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  &__license{
    padding-bottom: 15px;
  }
  &__error{
    color: red;
  }
}
.mileage__input {
  border: 3px solid #333748;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  &:focus {
    outline: 0;
  }
}
