.searchbox {

  padding-top: 42px;

  input[type=submit] {
    position: absolute;
    left: -9999px;
  }

  h1,
  p, a {
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, sans-serif;;
  }

  p {
    min-width: 700px;
    width: 700px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 768px) {
      min-width: 100%;
      width: auto;
    }
  }

  a {
    text-decoration: underline;
  }

  .searchbox-form__label {
    color: #c0c0c0;
    font-size: 12px;
    text-align: left;
  }

  input {
    height: 58px;
  }

  .searchbox-form__row {
    overflow: hidden;
    width: 670px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: auto;
    }
  }

  .searchbox-form__button {
    margin-top: 26px;
    width: 205px;
  }

  .searchbox-form__license {
    width: 265px;
  }
  .searchbox-form__mileage {
    width: 147px;

    input {
      font-size: 31px;
      font-weight: normal;
      margin-bottom: 24px;
    }
  }

  .searchbox-form__license,
  .searchbox-form__mileage,
  .searchbox-form__button {
    float: left;
    margin-left: 28px;

    &:first-child {
      margin: 0;
    }

    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;
      text-align: center;

      &:first-child {
        margin: 0 auto;
      }
    }
  }

  .searchbox-form__button {
    margin-left: 24px;

    @media (max-width: 768px) {
      margin: 0 auto;
      text-align: center;
    }
  }
}

.searchbox-facts {
  height: 100%;

  &__container {
    max-width: 800px;

    @media (max-width: 500px) {
      max-width: 100%;

      .col-xs-4 {
        width: 100%;
        padding: 0;
      }
    }

  }

  &.container {
    margin: 0 auto;
  }

  h1 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 14px;

    @media (max-width: 720px) {
      font-size: 28px;
      line-height: 36px;
    }

    span {
      font-weight: bold;
    }
  }

  p {
    font-size: 19px;
    line-height: 24px;


    @media (max-width: 720px) {
      font-size: 18px;
      line-height: 23px;
    }
  }
}
.searchbox-fact {
  height: 100%;
  line-height: 18px;
  padding: 12px 0 12px 50px;
  background: url("/assets/images/icon-fact-teek.png") 8px 15px no-repeat;

  @media (max-width: 500px) {
    min-height: auto !important;
  }

  @media (max-width: 320px) {
    padding: 8px 0 8px 50px;
  }

  :last-child > &{
    margin-left: -19px;

    @media (max-width: 500px) {
      margin-left: 0;
    }
  }
  &__text{
    color: #FFF;
  }
}
.searchbox-form {
  margin-top: 1px;
  text-align: center;
  padding: 55px 30px 37px;

  @-moz-document url-prefix() {
    .main-header.home .searchbox-form {
      margin-bottom: 0px;
    }

    .main-header .searchbox-form {
      margin-bottom: 35px;
    }
  }


  @media (max-width: 720px) {
    padding: 30px 30px 15px;
  }

  &__link {
    margin-top: -5px;
    margin-left: -7px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  &__label {
    padding-bottom: 7px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  &__license {
    padding-bottom: 15px;
  }
  &__error {
    color: red;
  }
}
.mileage__input {
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  width: 100%;

  &:focus {
    outline: 0;
  }
}


.main-header {
  background: url(/assets/images/bg-header-big.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 832px;

  @media (max-width: 990px) {
    height: 940px;
  }

  @media (max-width: 768px) {
    height: 1190px;
  }

  @media (max-width: 720px) {
    height: 1140px;
  }

  @media (max-width: 671px) {
    height: 1190px;
  }

  @media (max-width: 560px) {
    height: 1215px;
  }

  @media (max-width: 500px) {
    height: 1295px;
  }

  @media (max-width: 375px) {
    height: 1365px;
  }

  @media (max-width: 360px) {
    height: 1425px;
  }

  @media (max-width: 320px) {
    height: 1460px;
  }

  &.home {
    height: 506px;

    @media (max-width: 990px) {
      height: 550px;
    }

    @media (max-width: 768px) {
      height: 760px;
    }

    @media (max-width: 720px) {
      height: 640px;
    }

    @media (max-width: 670px) {
      height: 705px;
    }

    @media (max-width: 658px) {
      height: 740px;
    }

    @media (max-width: 500px) {
      height: 780px;
    }

    @media (max-width: 360px) {
      height: 875px;
    }

    @media (max-width: 320px) {
      height: 885px;
    }
  }
}