.searchbox {

  padding-top: 47px;

  h1,
  p, a {
    color: #FFFFFF;
    text-align: center;
  }

  p {
    min-width: 700px;
    width: 700px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 768px) {
      min-width: auto;
      width: auto;
    }
  }

  a {
    text-decoration: underline;
  }

  .searchbox-form__label {
    color: #c0c0c0;
    font-size: 12px;
    text-align: left;
  }

  input {
    height: 58px;
  }

  .searchbox-form__row {
    overflow: hidden;
    width: 670px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: auto;
    }
  }

  .searchbox-form__button {
    margin-top: 26px;
    width: 205px;
  }

  .searchbox-form__license {
    width: 265px;
  }
  .searchbox-form__mileage {
    width: 147px;

    input {
      font-size: 31px;
      font-weight: normal;
      margin-bottom: 24px;
    }
  }

  .searchbox-form__license,
  .searchbox-form__mileage,
  .searchbox-form__button {
    float: left;
    margin-left: 26px;

    &:first-child {
      margin: 0;
    }

    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;

      &:first-child {
        margin: 0 auto;
      }
    }
  }
}

.searchbox-facts{
  height: 100%;

  &.container {
    margin: 0 auto;
  }

  h1 {
    font-size: 41px;
    font-weight: normal;

    span {
      font-weight: bold;
    }
  }

  p {
    font-size: 19px;
  }
}
.searchbox-fact {
  height: 100%;
  margin-left: -15px;
  margin-right: -14px;
  padding: 15px;
  text-align: center;
  :first-child > &{
    margin-left: 0;
  }
  :last-child > &{
    margin-right: 0;
  }

  &__icon{
    width: 27px;
    height: 22px;
    position: relative;
    display: inline-block;
    background: url("/assets/images/icon-fact-teek.png") center no-repeat;
  }
  &__text{
    color: #FFF;
  }
}
.searchbox-form{
  margin-top: 1px;
  text-align: center;
  padding: 30px;
  &__label{
    padding-bottom: 5px;
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  &__license{
    padding-bottom: 15px;
  }
  &__error{
    color: red;
  }
}
.mileage__input {
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  width: 100%;

  &:focus {
    outline: 0;
  }
}


.main-header {
  background: url(../assets/images/bg-header-big.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 863px;

  @media (max-width: 990px) {
    height: 1000px;
  }

  @media (max-width: 768px) {
    height: 1217px;
  }

  @media (max-width: 560px) {
    height: 1250px;
  }

  @media (max-width: 480px) {
    height: 1400px;
  }

  &.home {
    height: 525px;

    @media (max-width: 768px) {
      height: 780px;
    }

    @media (max-width: 500px) {
      height: 840px;
    }
  }
}