<div class="tips">
  <div class="tips__text">Een team van experts nam gedurende een aantal weken autoadvertenties onder handen. Een gratis
    service om mensen die hun auto écht snel kwijt moeten, een handje te helpen. Ontdek hoe we van gewone mensen
    topverkopers maakten en leer zelf de geheimen van de dealer.</div>

  <div class="tips__items">
    <div class="row">
      <div class="col-sm-6">
        <tips-item title="Tips van de verkopers" youtube-id="3mGmMYS2o78"></tips-item>
      </div>
      <div class="col-sm-6">
        <tips-item title="Tips van de fotograaf"  youtube-id="95B99inuohs"></tips-item>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <tips-item title="Tips van de tekstschrijver" youtube-id="uOnjioduu-M"></tips-item>
      </div>
      <div class="col-sm-6">
        <tips-item title="Tips van de Marktplaats expert" youtube-id="otsmPoDZbXY"></tips-item>
      </div>
    </div>
  </div>
  <div class="tips__footer">

    <mp-button ng-href="{{result.sellUrl}}">Plaats advertentie</mp-button>
  </div>
</div>
