<div class="tips">
  <div class="tips__text">Een team van experts nam gedurende een aantal weken autoadvertenties onder handen. Een gratis service om mensen die hun auto écht snel kwijt moeten, een handje te helpen. Ontdek hoe we van gewone mensen topverkopers maakten en leer zelf de geheimen van de dealer.</div>

  <div class="tips__items">
    <div class="row">
      <div class="col-sm-6">
        <tips-item title="Tips van de verkopers" youtube-id="3mGmMYS2o78"></tips-item>
        <tips-item-descr>Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs?</tips-item-descr>
      </div>
      <div class="col-sm-6">
        <tips-item title="Tips van de fotograaf"  youtube-id="95B99inuohs"></tips-item>
        <tips-item-descr>Hoe komt u simpel en snel tot een goede foto van uw auto?</tips-item-descr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <tips-item title="Tips van de tekstschrijver" youtube-id="uOnjioduu-M"></tips-item>
        <tips-item-descr>Wat is belangrijk aan een goede advertentietekst?</tips-item-descr>
      </div>
      <div class="col-sm-6">
        <tips-item title="Tips van de Marktplaats expert" youtube-id="otsmPoDZbXY"></tips-item>
        <tips-item-descr>Hoe valt u op tussen andere autoadvertenties op Marktplaats?</tips-item-descr>
      </div>
    </div>
  </div>
</div>
