<div class="tips container">
  <div class="tips__text">Een team van experts nam gedurende een aantal weken autoadvertenties onder handen. Een gratis service om mensen die hun auto écht snel kwijt moeten, een handje te helpen. Ontdek hoe we van gewone mensen topverkopers maakten en leer zelf de geheimen van de dealer.</div>

  <div class="tips__items">
    <div class="row">
      <div class="col-sm-5 tips__wrapper">
        <tips-item youtube-id="3mGmMYS2o78"></tips-item>
        <div class="tips-item-descr">Hoe bouwt u een goede advertentie op en hoe komt u tot de juiste prijs?</div>
      </div>
      <div class="col-sm-5 tips__wrapper">
        <tips-item youtube-id="95B99inuohs"></tips-item>
        <div class="tips-item-descr">Hoe komt u simpel en snel tot een goede foto van uw auto?</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 tips__wrapper">
        <tips-item youtube-id="uOnjioduu-M"></tips-item>
        <div class="tips-item-descr">Wat is belangrijk aan een goede advertentietekst?</div>
      </div>
      <div class="col-sm-5 tips__wrapper">
        <tips-item youtube-id="otsmPoDZbXY"></tips-item>
        <div class="tips-item-descr">Hoe valt u op tussen andere autoadvertenties op Marktplaats?</div>
      </div>
    </div>
  </div>
</div>
