<div class="news">
  <div class="news__items">
    <div class="row">
      <div class="col-sm-6">
        <news-item news-pic></news-item>
        <news-item-title>Aankooptips occasions: Toyota Auris Sports</news-item-title>
        <news-item-descr>
          Nov 25 2015  |  Steffert Stienstra | De tweede generatie Renault Scénic kwam in 2003 op de markt. Technisch is het model gebaseerd op de Renault Mégane. De midi-MPV Scénic biedt genoeg plaats voor vijf personen tijdens een..
        </news-item-descr>
      </div>
      <div class="col-sm-6">
        <news-item news-pic></news-item>
        <news-item-title>Review: Mercedes-AMG C63 S Coupé [VIDEO]</news-item-title>
        <news-item-descr>
          Nov 25 2015  |  Waar de vorige Mercedes-AMG C63 de beschikking had over het brute atmosferische 6,2-literblok, krijgt de nieuwe generatie een 4,0-literblok met twee turbo´s. Maar is dat net zo lekker? Motorblok De vori ....
        </news-item-descr>
      </div>
      <div class="col-sm-6">
        <news-item news-pic></news-item>
        <news-item-title>Aankooptips occasions: Hyundai i10 (2007-2014) [VIDEO]</news-item-title>
        <news-item-descr>
          Nov 23 2015  |  De Hyundai i10 werd in 2007 geïntroduceerd als vervanger van de Hyundai Atos. In 2014 is de tweede generatie i10 op de markt gekomen en dat maakt de eerste generatie misschien een interessante occasi ...
        </news-item-descr>
      </div>
    </div>
  </div>
</div>
