<div class="news">
  <div class="news-logo"></div>
  <div class="news__items">
    <div class="row">
      <div class="col-sm-4 news__item">
        <div class="news__pic">
          <img src="../assets/images/car-toyota.jpg" alt="Toyota" height="255" width="385">
        </div>
        <div class="news__title">Aankooptips occasions: Toyota Auris Sports</div>
        <div class="news__descr">
          Nov 25 2015  |  Steffert Stienstra | De tweede generatie Renault Scénic kwam in 2003 op de markt. Technisch is het model gebaseerd op de Renault Mégane. De midi-MPV Scénic biedt genoeg plaats voor vijf personen tijdens een..
        </div>
      </div>
      <div class="col-sm-4 news__item">
        <div class="news__pic">
          <img src="../assets/images/car-merc.jpg" alt="Mercedes" height="255" width="385">
        </div>
        <div class="news__title">Review: Mercedes-AMG C63 S Coupé [VIDEO]</div>
        <div class="news__descr">
          Nov 25 2015  |  Waar de vorige Mercedes-AMG C63 de beschikking had over het brute atmosferische 6,2-literblok, krijgt de nieuwe generatie een 4,0-literblok met twee turbo´s. Maar is dat net zo lekker? Motorblok De vori ....
        </div>
      </div>
      <div class="col-sm-4 news__item">
        <div class="news__pic">
          <img src="../assets/images/car-hyundai.jpg" alt="Hundai" height="255" width="385">
        </div>
        <div class="news__title">Aankooptips occasions: Hyundai i10 (2007-2014) [VIDEO]</div>
        <div class="news__descr">
          Nov 23 2015  |  De Hyundai i10 werd in 2007 geïntroduceerd als vervanger van de Hyundai Atos. In 2014 is de tweede generatie i10 op de markt gekomen en dat maakt de eerste generatie misschien een interessante occasi ...
        </div>
      </div>
    </div>
  </div>
</div>
