.news {
  .news-logo {
    background: url(../assets/images/news-logo.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 213px;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__items {

    .news__title {
      padding: 50px 0 30px;
      font-weight: bold;
    }
  }

  &__item {
    margin-right: 75px;
  }
}